<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">system</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
		<property name="hibernate.connection.username">system</property>
		<property name="hibernate.default_schema">salessoft</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
				<!-- JDBC connection pool (use the built-in) <property name="hibernate.connection.pool_size">1</property -->

		<!-- Enable Hibernate's automatic session context management -->
		<property name="transaction.factory_class">
			org.hibernate.transaction.JDBCTransactionFactory </property>
		<property name="hibernate.connection.release_mode"> after_transaction </property>

		<property name="current_session_context_class"> jta </property>
	
		<!-- Configure C3P0 connection pooling -->
		<property name="hibernate.c3p0.min_size">1</property>
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.acquire_increment">2</property>
		<property name="hibernate.c3p0.idle_test_period">300</property><!-- 4 hours -->
		<property name="hibernate.c3p0.timeout">3000</property><!-- 7 hours -->
		<property name="hibernate.c3p0.preferredTestQuery">select 1;</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="hibernate.show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!--Mapping Files  -->
		<mapping resource="com/mapping/Company.hbm.xml"/>
		<mapping resource="com/mapping/Purchase.hbm.xml"/>
		<mapping resource="com/mapping/Product.hbm.xml"/>
		<mapping resource="com/mapping/Account.hbm.xml"/>
		<mapping resource="com/mapping/Sales.hbm.xml"/>
		<mapping resource="com/mapping/User.hbm.xml"/>
		
		<!-- http://127.0.0.1:8080/apex/f?p=4550:11:4014739188338450::NO:::  -->
		
	</session-factory>
</hibernate-configuration>
