<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Purchase</title>
</head>
<body>
<script type="text/javascript" id="purchase-tmpl">
 
 <h1>Purchase Information</h1>
	 <div>
		<select>
		<option>Company Name</option>
		</select>
	</div>
	<div>	
	<select>
		<option>Product Name</option>
		</select>
	</div>
	<div>
		<span>Quantity </span> <input type="text" id="salesqty" />
	</div>
	<div>
		<span>Email id </span> <input type="email" id="cemail" />
	</div>
</script>
</body>
</html>