<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Company Details</title>
</head>
<body>
<script type="text/template" id="company-tmpl">
	<h1>Company Information</h1>
	<div>
		<span>Name </span> <input type="text" id="cname" />
	</div>
	<div>
		<span>Address </span> <input type="text" id="caddress" />
	</div>
	<div>
		<span>Telephone </span> <input type="tel" id="ctel" />
	</div>
	<div>
		<span>Email id </span> <input type="email" id="cemail" />
	</div>
	</script>
</body>
</html>